<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://backendwebsite-test.sidit17.demo/svc/simpleServiceDemo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsimpleServiceDemo" contract="simpleServiceReference.IsimpleServiceDemo" name="BasicHttpBinding_IsimpleServiceDemo" />
      <endpoint address="https://backendwebsite-test.sidit17.demo/svc/simpleServiceDemo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IsimpleServiceDemo" contract="simpleServiceReference.IsimpleServiceDemo" name="BasicHttpsBinding_IsimpleServiceDemo" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IsimpleServiceDemo" />
        <binding name="BasicHttpsBinding_IsimpleServiceDemo">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: d0687384-6142-4acf-87a7-5ba0e675c69e-->